<h1><%= @merchant.name %>'s Items</h1>
  <% @items.each do |item| %>
  <p><%= link_to "#{item.name}", merchant_item_path(@merchant, item) %><br></p>
  <% end %>

  <p>Enabled Items</p>

  <% @items.each do |item| %>
<section id="enabled-items-<%= item.id%>">
    <% if item.status == "enabled" %>
      <p>
        Name: <%= link_to  "#{item.name}", "items/#{item.id}" %><br>
        Status: <%= item.status %>

        <%= form_with url: "/merchants/#{@merchant.id}/items", method: :patch, local: true do |f| %>
          <%= hidden_field_tag :status, "Disabled" %>
          <%= f.hidden_field(:id, value: item.id)  %>
          <%= f.submit "Disable" %>
        <% end %><br>
</section>

        <%#= form_with url: "/admin/merchants/#{merchant.id}", method: :patch, local: true do |f| %>
          <%#= hidden_field_tag :status, "Enabled" %>
          <%#= f.submit "Enable #{merchant.name}" %>
        <%# end %>
      </p>
    <% end %>
  <% end %>